[submodule "submodules/dag-flow"]
	path = submodules/dag-flow
	url = https://git.jinr.ru/dag-computing/dag-flow.git

[submodule "submodules/dagflow-statistics"]
	path = submodules/dagflow-statistics
	url = https://git.jinr.ru/dag-computing/dagflow-statistics.git
